{% extends "base.html" %}
{% block content %}

<h1>Player configuration</h1>
{% import "macros/messages.html" as msg %}
{% import "macros/forms.html" as forms %}
{{msg.message("#{message}")}}
{{msg.errors("#{errors}")}}
<br>
<h3>Add a player</h3>

<div>
    {{forms.simple_text_form("New Player's Nickname",  "#{base_path}"~"/admin/newPlayer", "player_name", attributes.playerName, "Add Player to raid!")}}

    <br><br>
</div>
<h3>Current players</h3>
<div>
    <form method="post" action="{{base_path}}/admin/modPlayer">

        <select name="player" class="col-xs-3">
            {% for p in players %}
            <option name="avatar" value="{{p.id}}">{{p.name}}
                {% if p.admin %}
                -Admin
                {% else %}
                -Pleb
                {% endif %}
            </option>
            {% endfor %}
        </select>
        <button type="submit" name="mod" value="reset_password" class="btn btn-primary">Reset password to "asd"</button>
        <button type="submit" name="mod" value="delete" class="btn btn-danger">Delete</button>
    </form>
</div>

{% endblock %}