{% extends "base.html" %}
{% block content %}

<h1>Configuration</h1>
{% import "macros/messages.html" as msg %}
{{msg.message("#{message}")}}
{{msg.errors("#{errors}")}}

<div class="row">
    <div class="col-md-3 offest-md-1">
        <h2>Items</h2> 

        <form method="post" action="{{base_path}}/admin/newItem">
            <div>
                <label>Item Nickname</label>
                <input type="text" name="item" class="form-inline">  
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p class="d-inline">Current Items</p>
                    </th>
                </tr>                      
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td><a>{{item.name}}</a></td>
                    <td><form method="post" action="{{base_path}}/admin/delItem">        
                            <button type="submit" name="item" value="{{item.id}}" class="btn btn-danger">
                                Delete</button></form></td></tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
    <div class="col-md-3 offest-md-1">
        <h2>Elements</h2>
        <form method="post" action="{{base_path}}/admin/newEle">
            <div>
                <label>Element Name</label>
                <input type="text" name="element" class="form-inline">  
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p class="d-inline">Current Elements</p>
                    </th>
                </tr>                      
            </thead>
            <tbody>
                {% for ele in elements %}
                <tr>

                    <td><a>{{ele.type}}</a></td>
                    <td><form method="post" action="{{base_path}}/admin/delEle">        
                            <button type="submit" value="{{ele.id}}" name="element" class="btn btn-danger">
                                Delete</button></form></td>   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3 offest-md-1">
        <h2>Classes</h2>
        <form method="post" action="{{base_path}}/admin/newClas">
            <div>
                <label>Class name</label>
                <input type="text" name="class" class="form-inline">  
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p class="d-inline">Current Classes</p>
                    </th>
                </tr>                      
            </thead>
            <tbody>
                {% for clas in classes %}
                <tr>
                    <td><a>{{clas.name}}</a></td>
                    <td><form method="post" action="{{base_path}}/admin/delClas">        
                            <button type="submit" name="class" value="{{clas.id}}" class="btn btn-danger">
                                Delete</button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}