{% extends "base.html" %}
{% block content %}

<h1>Configuration</h1>
{% import "macros/messages.html" as msg %}
{% import "macros/tables.html" as tbl %}
{% import "macros/forms.html" as forms %}
{{msg.message("#{message}")}}
{{msg.errors("#{errors}")}}

<div class="row">
    <div class="col-md-3 offest-md-1">
        <h2>Items</h2> 
        
        {{forms.simple_text_form("Item name",  "#{base_path}"~"/admin/newItem", "name", attributes.item, "Add!")}}
        {{tbl.delete_table("Current Items", items, "#{base_path}"~"/admin/delItem")}}
    </div>
    <div class="col-md-3 offest-md-1">
        <h2>Elements</h2>
        {{forms.simple_text_form("Element name",  "#{base_path}"~"/admin/newEle", "name", attributes.element, "Add!")}}     
        {{tbl.delete_table("Current Elements", elements, "#{base_path}"~"/admin/delEle")}}
    </div>
    <div class="col-md-3 offest-md-1">
        <h2>Classes</h2>
        {{forms.simple_text_form("Class name",  "#{base_path}"~"/admin/newClas", "name", attributes.clas, "Add!")}}  
        {{tbl.delete_table("Current Classes", classes, "#{base_path}"~"/admin/delClas")}}
    </div>
</div>

{% endblock %}