{% extends "base.html" %}
{% block content %}

<h1>Admin Page</h1>
{% import "macros/messages.html" as msg %}
{% import "macros/forms.html" as forms %}
{% import "macros/tables.html" as tbls %}
{{msg.message("#{message}")}}
{{msg.errors("#{errors}")}}

<h3>Characters</h3>

<br>
<div class="form-group">
    <form method="post" action="{{base_path}}/admin/newChar">
        <label>Player Nickname</label>
        <select name="player">
            {% for player in players %}
            <option name="player" value="{{player.id}}">{{player.name}}</option>
            {% endfor %}
        </select>
        <label>Character Name</label>
        <input type="text" name="character" class="form-group" value="{{name}}">
        {{forms.avatar_priority_bar()}}
        {{forms.select_bar("Main element", "element", elements)}}
        {{forms.select_bar("Class", "class", classes)}}
        <br>  
        {{forms.array_to_checkbox(items)}} 
        <br><br>
        <button type="submit" class="btn btn-success">Add Character to Raid</button>
    </form>
</div>
<br><br>

<h3>Current characters</h3>
<div>
    <form method="post" action="{{base_path}}/admin/modAvatar">
        <input type="text" name="avatar_name" class="form-inline" value="{{attributes.avatar_name}}">
        <br>
        <select name="avatar" class="col-xs-3">
            {% set arrow = -1 %}
            {% for avatar in avatars %}
            {% set arrow = avatar.owner_id %}
            <option name="avatar" value="{&quot;id&quot:{{avatar.id}}, &quot;owner&quot;:{{avatar.owner_id}}}">{{avatar.name}}</option>
           
            {% endfor %}
        </select>     
        <button type="submit" name="mod" value="rename" class="btn btn-primary">Rename</button>
        <button type="submit" name="mod" value="details" class="btn btn-primary">List owner details</button>
        <button type="submit" name="mod" value="delete" class="btn btn-danger">Delete character</button>
        <button type="submit" name="mod" value="deleteAll" class="btn btn-danger">Delete owner and all its data</button>        
    </form>
</div>
{% if owner %}
<br>
<div>
    {{ tbls.array_link_names("Characters of "~owner.name, "character", owner_avatars)}}
</div>
{% endif %}
{% endblock %}