{% extends "base.html" %}
{% block content %}

<h1>Player configuration</h1>
{% import "macros/messages.html" as msg %}
{% import "macros/forms.html" as forms %}
{% import "macros/tables.html" as tbls %}
{{msg.message("#{message}")}}
{{msg.errors("#{errors}")}}
<br>
<h3>Add a player</h3>

<div>
    {{forms.simple_text_form("New Player's Nickname",  "#{base_path}"~"/admin/newPlayer", "player_name", attributes.playerName, "Add Player to raid!")}}

    <br><br>
</div>
<h3>Current players</h3>
<div>
    <form method="post" action="{{base_path}}/admin/modPlayer">

        <select class="col-xs-3" name="player">
            {% for p in players %}
            <option value="{&quot;id&quot:{{p.id}}, &quot;name&quot;:&quot; {{p.name}} &quot;}">{{p.name}}
                {% if p.admin %}
                -Admin
                {% else %}
                -Pleb
                {% endif %}
            </option>
            {% endfor %}
        </select>
        <button type="submit" name="mod" value="reset_password" class="btn btn-primary">Reset password to "asd"</button>
        <button type="submit" name="mod" value="delete" class="btn btn-danger">Delete</button>
        <button type="submit" name="mod" value="search" class="btn btn-primary">List avatars</button>
    </form>
</div>

{% if avatars and searched %}
{{ tbls.array_link_names("Characters of "~searched, "character", avatars)}}
{% endif %}
{% endblock %}