{% extends "base.html" %}
{% block content %}

<h1>{{avatar.name}}</h1>

{% import "macros/messages.html" as msg %}
{% import "macros/tables.html" as tbl %}
{{msg.message("#{message}")}}
{{msg.errors("#{errors}")}}

<table class="table table-striped table-bordered">
    {{tbl.avatar_tbl_header(items)}}
    <tbody>
        {{tbl.avatar_table_row(items, avatar, player,
                    "#{base_path}"~"/character/"~"#{avatar.id}"~"/addItem",
                    "#{base_path}"~"/character/"~"#{avatar.id}"~"/deleteItem")}}
    </tbody>
</table>
<a target="_blank"href="{{link}}">Stats on BnSTree</a>

{% endblock %}