{% extends "base.html" %}
{% block content %}
  <h1>Painikkeet</h1>
  <button>Tavallinen painike</button>
  <button class="btn btn-default">Bootstrap painike</button>
  <button class="btn btn-primary">Bootstrap painike</button>
  <button class="btn btn-success">Bootstrap painike</button>
  <button class="btn btn-danger">Bootstrap painike</button>

  <h1>Tekstikentät</h1>
  <input placeholder="Tavallinen tekstikenttä" type="text">
  <input class="form-control" placeholder="Bootstrap tekstikenttä" type="text">

  <h1>Taulukot</h1>
  <table>
    <thead>
      <tr>
        <th>Tavallinen</th>
        <th>Taulukko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Bootstrap</th>
        <th>Taulukko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
    </tbody>
  </table>
  
  
  
  
  
  
  
  
 <h2>Käyttäjän Henri pelikirjasto</h2>

  <p>
    <a href="#" class="btn btn-success">Lisää peli</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Julkaisupäivä</th>
        <th>Julkaisija</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">The Elder Scrolls V: Skyrim</a></td>
        <td>11.11.2011</td>
        <td>Bethesda Softworks</td>
        <td><label class="label label-danger">kesken</label></td>
        <td>9.12.2014</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}