{% extends "base.html" %}
{% block content %}

<h1>Home Page</h1><bR>
{% import "macros/messages.html" as msg %}
{% import "macros/tables.html" as tbl %}
{{msg.message("#{message}")}}
{{msg.errors("#{errors}")}}

<div class="form-group">
    <form method="get" action="{{base_path}}/overview">
        <label>View character</label>
        <input type="text" name="search" class="form-group" placeholder="Seach by Name"> 
        <button type="submit" class="btn btn-info">Visit</button>        
    </form>
</div>


<h2>Search by Category</h2><br>

<div class="row">
    <div class="col-md-3 offest-md-1">
        <!--   (title, link_path, content, param_name) %}-->
        {{tbl.array_link_names("Element", "Element", elements)}}
    </div>
    <div class="col-md-3 offest-md-1">
        {{tbl.array_link_names("Missing items", "Item", items)}}
    </div>
    <div class="col-md-3 offest-md-1">
        {{tbl.array_link_names("Class", "Clas", classes)}}
    </div>
    
    <div class="col-md-3 offest-md-1">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p class="d-inline">Priority</p>
                    </th>
                </tr>                      
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{base_path}}/main/1">main</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{base_path}}/main/0">alt</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}