{% extends "base.html" %}
{% block content %}

  <h1>Log In</h1>
  
  {% if error %} 
  <label>{{error}}</label>
  {% endif %}

  <form method="post" action="{{base_path}}/login">
    <div class="form-group">
      <label>Account Name</label>
      <input class="form-control" type="text" name="user" value="{{username}}">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" name="password">
    </div>

    <button type="submit" class="btn btn-success">Log In</button>
  </form>
{% endblock %}