{% extends "base.html" %}
{% block content %}

  <h1>Status</h1>
  
  <div class="alert alert-info">
      {{message}}
  </div>
  <div class="alert alert-success">
      <a href="{{base_path}}/player/1">to my page</a>
  </div>
  <div class="alert alert-danger">
      <a href="{{base_path}}/admin">to Settings</a>
  </div>
  
  
 
   <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><button type="button" class="btn btn-danger">Character</button></th>
        <th><button type="button" class="btn btn-info">Main</button></th>       
        <th><button type="button" class="btn btn-success">Element</button></th>
        <th><button type="button" class="btn btn-info">Class</button></th>
        
        
        
        {% for item in items %}
        <th><button type="button" class="btn btn-default">{{item.name}}</button></th>
         {% endfor %}
        <th><button type="button" class="btn btn-disabled">Delete</button></th>
      </tr>
    </thead>

    <tbody>
        
        {% for avatar in avatars %}
       
        <tr>
          <td><a href="{{base_path}}/character/{{avatar.id}}">{{avatar.name}}</td>
          <td>
              {% if avatar.main %}           
                <label class="label label-success">Yes</label>
              {% else %}
                <label class="label label-danger">No</label>
              {% endif %}
          </td>
        <td><label class="label label-info">{{avatar.e_type}}</label></td>
        <td><label class="label label-info">{{avatar.c_name}}</label></td> 
        
        {% for status in avatar %}
         {% set status_att = status.owned  %}
                     
                {% if status.owned %}           
                <td><label class="label label-success">has</label></td>
              {% else %}
                             
              <td><label class="label label-danger">??{{status.i_id}}{{status.a_id}}{{avatar.id}}</label></td>
              {% endif %}
              
          
          {% endfor %}
        
        <td><form method="post" action="{{base_path}}/admin/delChar">        
          <button type="submit" name="{{avatar.id}}" class="btn btn-danger">
          Delete</button></form></td>   
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  on tää buginen twigi ...työmaa alla
  
{% for avatar in avatars %}
<div>
  
   {% for ownership in items %}                                        
      <li class="label label-danger">??{{ownership.name}}</li>
{% endfor %}
</div>
{% endfor %}




{% for avatar in avatars %}
<div>
   {% for key, ownership in avatar.ownerships %}a
     <li class="label label-danger">{{ownership.owned}}</li>
   {% endfor %}
</div>
{% endfor %}



{% for avatar in avatars %}
<div>

   {% for item in items %}
    <!-- <li class="label label-danger">{{avatar.ownerships[item.id].owned}}</li>-->
     
     {% if avatar.ownerships[item.id].owned %}           
                <td><label class="label label-success">has</label></td>
              {% else %}
                             
              <td><label class="label label-danger">??{{status.i_id}}{{status.a_id}}{{avatar.id}}</label></td>
              {% endif %}
   {% endfor %}
</div>
{% endfor %}
    


{% endblock %}