{% extends "base.html" %}
{% block content %}


<h1>{{player.name}}</h1>

{% import "macros/messages.html" as msg %}
{{msg.message("#{message}")}}
{{msg.errors("#{errors}")}}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th><label class="label label-default">Character</label></th>
            <th><label class="label label-default">Priority</label></th>
            <th><label class="label label-default">New Name</label></th>
            <th><label class="label label-danger">Rename</label></th>
        </tr>
    </thead>

    <tbody>

        {% for avatar in avatars %}
        {% set arrow = avatar.id %}
        <tr>
            <td><a href="{{base_path}}/character/{{avatar.id}}" class="btn-link btn-info">{{avatar.name}}</a></td>
            <td><label
                    {% if avatar.main %}
                    class="label label-success">main</label>
                {% else %} 
                class="label label-danger">alt</label>
            </td>
            {% endif %}
    <form method="post" action="{{base_path}}/player/{{player.id}}/renameChar/{{avatar.id}}">   
        <td><input type="text" name="avatar_name" class="form-group-sm" value="{{attributes.avatar.name}}"></td> 
        <!--   <td><p>{{attributes.2}} - {{arrow}} - {{attributes.arrow}} - {{attributes.avatar.name}}</p>-->
        <td><button type="submit" class="btn btn-success">Apply</button></td>
    </form>

</tr>
{% endfor %}
</tbody>
</table>

<form method="post" action="{{base_path}}/player/{{player.id}}/newChar">
    <div class="form-group"> 
        <label>Character Name</label>
        <input type="text" name="character" class="form-group"> 
        <select name="priority">
            <option value="main">Main</option>
            <option value="alt">Alt</option>
        </select>

        <select name="element">
            {% for ele in elements %}
            <option value="{{ele.id}}">{{ele.type}}</option>
            {% endfor %}
        </select>
        <select name="class">
            {% for class in classes %}
            <option value="{{class.id}}">{{class.name}}</option>
            {% endfor %}
        </select>

    </div>
    <div class="form-group">

        {% for item in items %}
        <input type="checkbox" name="{{item.id}}">{{item.name}}
        {% endfor %}             
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>



<div>
    <form method="post" action="{{base_path}}/player/{{player.id}}/rename">
        <input type="text" name="player_name" value="{{attributes.playerName}}" class="form-group"> 
        <button type="submit" class="btn-lg btn-info">rename!</button>
    </form>
</div><br>

<div>
    <form method="post" action="{{base_path}}/player/{{player.id}}/password">
        <input type="text" name="player_pass" value="" class="form-group"> 
        <button type="submit" class="btn-lg btn-info">new password!</button>
    </form>
</div><br>

{% if not player.admin %}
<div>     
    <form method="post" action="{{base_path}}/player/{{player.id}}/ditch">
        <button type="submit" class="btn-lg btn-danger">Leave from raid listing</button>
    </form>
</div>
{% endif %}
{% endblock %}